h1 {
  font-family: 'Prata', serif;
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
  color: #000;
}

p {
  font-family: 'Prata', serif;
  font-size: 18px;
  color: #a6a6a6;
  text-align: center;
  margin-bottom: 100px;
}
